@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import './fonts.scss';

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1304px;
}
