@import '../../styles/variable.scss';

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 29px;

  flex-wrap: wrap;

  @media (max-width: 425px) {
    flex-direction: column-reverse;
    gap: 0;
  }
}

.content {
  max-width: 598px;
  max-height: 575px;

  h1 {
    color: #25272f;

    font-size: 45px;
    font-weight: 600;
    line-height: 117.7%;

    @media (max-width: 425px) {
      margin-top: 60px;
      width: 335px;
      height: 114px;

      font-size: 32px;
      font-weight: 600;
      line-height: 117.7%;
    }
  }

  p {
    color: #67687a;

    font-size: 18px;
    font-weight: 400;
    line-height: 32px;

    @media (max-width: 425px) {
      width: 345px;
      height: 148px;
      margin-top: 15px;

      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }
  }

  .loveText {
    position: relative;
    left: 162px;

    @media (max-width: 425px) {
      display: none;
    }
  }
}
