@import '../../styles/variable.scss';

.root {
  position: relative;

  height: 900px;
  background: url(../../assets/images/header-bg-main-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 425px) {
    background: url(../../assets/images/bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content {
  margin-top: 160px;
  text-align: center;
}

.firstLine {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 117.7%;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  color: #f5ffcc;
}

.secondLine {
  margin-top: 12px;

  font-size: 78px;
  font-weight: 700;
  line-height: 110.7%;
  letter-spacing: -3px;
  text-transform: capitalize;

  color: $color-white;
}

.thirdLine {
  margin-top: 18px;

  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: $color-white;
}

.button {
  margin: 37px auto 0;
  padding: 13px 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 40px;
  background: $color-white;

  color: #eb723e;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.7%;
  letter-spacing: -0.48px;
}
