.root {
  height: 900px;
  background: url(../../assets/images/footer-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 425px) {
    background: url(../../assets/images/bg-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
